a.selected {
    background-color:#1F75CC;
    color:white;
    z-index:100;
}

.messagepop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 100px;
    position:absolute;
    text-align:left;
    width:394px;
    z-index:100;
    padding: 20px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 21.25px;
    color: black;
}

label {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}

.col-4 {
    /* border: 1px solid #000000; */
    margin: 20px;
    padding: 10px;

}
/* #image {
      -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
} */
.col-lg-2{
  border: 1px solid #000000;
  padding:10px;
  justify-content: center;
}
