:root {
    --black: black;
    --darkest: rgb(180, 78, 9);
    --dark: rgb(150, 102, 40);
    --medium: rgb(179, 139, 83);
    --light: rgb(224, 199, 165);
    --accent: rgb(243, 147, 92);
    --white: white;
}

html, body {
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: 300px;
    padding: 20px;
    font-size: 75px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gwendolyn', cursive;
    color:black;
    
}

#i1, #i2, #i3, #i4 {
    color:hotpink;
    -webkit-text-stroke: 2px black;
}

#homepage {
    position: relative;
    text-align: center;
    max-height: 800px;
    margin-top: 50px;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

#dogBreed {
    font-size: 30px;
    color: black;
    padding: 10px;
}

.img-fluid {
    height: 90%;
}

i {
    padding: 10px;
}

div.class {
    background-color: white;
}

#fas {
    padding-left: 10px;
}

#image {
    border-radius: 50px;
    max-height: 750px;
    border: 2px solid black;
}