:root {
    --black: black;
    --darkest: rgb(180, 78, 9);
    --dark: rgb(150, 102, 40);
    --medium: rgb(179, 139, 83);
    --light: rgb(224, 199, 165);
    --accent: rgb(243, 147, 92);
    --white: white;
}
body {
    background-color: var(--light);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: 300px;
    background-color: rgb(212, 212, 212);
    padding: 20px;
    font-size: 25px;
}

.homepage {
    position: relative;
    text-align: center;
    color: rgb(8, 8, 8);
    margin-top: 20px;
}

.nav-item {
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}
#dogBreed {
    font-size: 30px;
    color: black;
    padding: 10px;
}

.img-fluid {
    height: 90%;
}

div.class {
    background-color: white;
}

#fas {
    padding-left: 10px;

}